@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);
body {
	background:#f8f8f8 url(../img/pattern.jpg) repeat;
	font:13px/20px 'Cabin', Helvetica, Arial, sans-serif;
	color: #555;
	-webkit-font-smoothing: antialiased !important;	
}